/*Geral*/

html {
    font-size: 10;
    background-color: lightgreen;
}

body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
}
  
header, nav, main, article, aside, footer{
    background-color: darkgreen;
    padding: 1%;
}

/*Tipografia*/

h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    text-align: center;
}

p, li {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 1.6rem;
    line-height: 1.5;
}

h1 {
    font-size: 4rem;
}
  
h2 {
    font-size: 3rem;
}
  
h3 {
    font-size: 2rem;
}

/*Cabeçalho/Menu principal*/

header {
    margin-bottom: 10px;
}
  
nav {
    height: 70px;
}
  
nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
}
  
nav li {
    display: inline;
    flex: 1;
    text-align: center;
}
  
nav a, nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

/*Main*/

main {
    display: flex;
    border: 2px solid black;
}
  
article {
    flex: 4;
}
  
aside {    
    flex: 1;
    margin-left: 10px;
    padding: 1%;
    border: 3px solid black;
    background-color: white;
    text-align: center;
}
  
footer {
    margin-top: 10px;
    text-align: center;
}

#logoIFSC{
    width: 500px;
    height: 700px;
    border: 1px solid black;
    background-image: url("imagens/IFSC.png");
}